body {
    text-align: center;

}
.table {
    display: flex;
    justify-content: center;
    margin: 3%;
}
.computer-deck{
    display: inline-flex;
    border: 1px solid black;
    margin: 2%;
    margin-bottom: 20%;

}
.player-deck{
    justify-content: center;
    text-align: center;
}

#hand-player{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    height: 100px;
}

.card.red {
    color: red;

}
.card.black {
    color: black;
}
.card {
    position: relative;
   height: 100%;
   width: 50px;
   border: 1px solid black;
   border-radius: .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   cursor: pointer;
}
.card::before,
.card::after {
    position: absolute;
    /* content: attr(data-value); */
    font-size: 1rem;
    

}
.card::before{
    top: .5rem;
    left: .5rem;
}
.card::after{
    bottom: .5rem;
    right: .5rem;
    transform: translate(180deg);
}

.pot{
    position: relative;
    height: 50px;
    width: 25px;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding-top: auto;
    padding-bottom: auto;
}

.pot-player{
    position: relative;
    text-align: center;
    justify-content: center;
}